body {
  font-family: helvetica;
  background: -webkit-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%); /* Chrome 10+, Saf5.1+ */       
}

.btn {
  background:none;
  border: 1px solid white;
  border-radius: 6px;
  color:white;
  font-weight: 100 !important; 
}

#playing {
  display: none;
}

.special {
  background: none;
  color:white;
  height:50px;
  text-align: center;
  font-size: 30px;
  margin-bottom:40px;
}

.play_session{
  background-color: rgba(255, 255, 255, .3)
}

#info {
  height:0px;
  background-color: rgba(255, 255, 255, .3);
  margin:20px 0 20px 0;
}

#scoreboard{
  display:none;
  stroke: 1px white;
}

p#notice{
  font-family: helvetica;
  padding:3.5% 0;
  stroke:none;
  font-weight: light;
}

.wrong{
  color:#FF3328 !important;
}

.correct{
  color:#20CE35 !important;
}

.almost{
  color:#FF8D28 !important;
}